.error-not-found {
    background-color: #2E2F42;
}

.sellers-not-found {
    background-image: url("./assets/no-sellers-available.jpg");
    background-repeat: no-repeat;
    height: 300px
}

.albums-not-found {
    background-image: url("./assets/no-albums-available.jpg");
    background-repeat: no-repeat;
    height: 300px
}

.photos-not-found {
    background-image: url("./assets/no-photos-available.jpg");
    background-repeat: no-repeat;
    height: 300px
}
