/*Group Add*/

.group-add {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    height: 60px;
    width: 100%;
    align-items: center;
    column-gap: 10px;
    background-color: lightsteelblue;
}

.group-add__text {
    justify-self: end;
}

.group-add__input {
    background-image: url("../containers/Groups/assets/images/url-icon.png");
    background-repeat: no-repeat;
    background-position: 2px 7px;
    background-size: 40px;
    border-radius: 7px;
    height: 30px;
    padding-left: 45px;
}

.group-add__icon {
    display: block;
}

.group-add__button {
    height: 35px;
    width: 120px;
}

/*Group List*/

.group-list {
    background-color: #a3a3af;
    display: grid;
    grid-template-rows: 30px 18px repeat(auto-fill, 50px);
    width: 100%;
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    .group-list__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 10px;
    }
}

//.group-list__item {
//    display: grid;
//    grid-template-columns: 1fr 2fr;
//    grid-column-gap: 10px;
//}

.group-list__item-info {
    display: grid;
    align-items: center;
    justify-self: center;
    grid-template-columns: 50px 100px 300px 70px;
    grid-column-gap: 10px;
    padding-left: 20px;
}

.group-list__item-name p {
    color: #fff;
    padding: 6px 20px;
    margin: 0;
}

.group-list__item-titles {
    background-color: #0a69aa;
    color: #2E2F42;
    display: grid;
    padding-left: 20px;
    grid-template-columns: 50px 100px 300px 80px 1fr;

    p {
        color: #FFFFFF;
        margin: 0;
        border-left: 1px solid #3C3E4E;
    }
}

.group-list__item-info-titles ul {
    list-style-type: none;
}

.group-list__item-info-photo img {
    width: 50px;
    height: 50px;
}

.group-list__item-actions {
    display: grid;
    grid-template-columns: repeat(3, 210px);
    column-gap: 5px;
    align-items: center;
}
