.search-block {
    display: grid;
    padding: 20px 0 10px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 30px;
    grid-gap: 5px;
    background-color: #2E2F42;
    text-align: center;
}

.search-block__search-form-clear {
    background-color: white;
}
